{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>BDF Suite</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <form id="compute-form" class="mb-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Select Dataset</h3>
                        </div>
                        <div class="card-body">
                            {% for radio in data_source_form.data_source %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Choose PZ Parameters</h3>
                        </div>
                        <div class="card-body">
                            {{ parameter_form.policy|as_crispy_field }}
                            {{ parameter_form.execution_engine|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-header" style={'overflowY':'auto'}>
                <h3>Results:</h3>
            </div>
            <div class="card-body" id="results">
                <p id="no-results-message">No results yet. Please select options and submit.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let index = 0; 

            const form = document.getElementById('compute-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const dataSource = document.querySelector('input[name="data_source"]:checked').value;
                const policy = document.getElementById('id_policy').value;
                const executionEngine = document.getElementById('id_execution_engine').value;

                const socket = new WebSocket('ws://' + window.location.host + '/ws/compute/');

                socket.onopen = function(e) {
                    socket.send(JSON.stringify({
                        'data_source': dataSource,
                        'policy': policy,
                        'execution_engine': executionEngine
                    }));
                };

                socket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    const resultDiv = document.getElementById('results');
                    resultDiv.style.overflowY = 'auto';
                    resultDiv.style.height = '300px'; // Adjust height as needed

                    const noResultsMessage = document.getElementById('no-results-message');
                    if (noResultsMessage) {
                        noResultsMessage.remove();
                    }

                    if (index === 0) {
                        resultDiv.innerHTML += '<h3> Summary of plan: </h3> <p>' + data.plan.replace(/\n/g, '<br>') + '</p>';
                        console.log("Data Plan", data.plan);
                    }

                    console.log("Data Records", data.records);

                    const table = document.createElement('table');
                    table.classList.add('table', 'table-striped', 'mt-3');
                    const thead = table.createTHead();
                    const tbody = table.createTBody();
                    const headRow = thead.insertRow();

                    
                    const scrollableContainer = document.createElement('div');
                    scrollableContainer.style.overflowX = 'auto';
                    scrollableContainer.style.marginTop = '10px';

                    // Assuming all records have the same structure, use the first record to get column names
                    const columns = ['case_submitter_id',
                        'age_at_diagnosis',
                        'race',
                        'ethnicity',
                        'gender',
                        'vital_status',
                        'ajcc_pathologic_t',
                        'ajcc_pathologic_n',
                        'ajcc_pathologic_stage',
                        'tumor_grade',
                        'tumor_focality',
                        'tumor_largest_dimension_diameter',
                        'primary_diagnosis',
                        'morphology',
                        'tissue_or_organ_of_origin',
                        'study'
                    ];

                    columns.forEach(column => {
                        const th = document.createElement('th');
                        th.textContent = column;
                        headRow.appendChild(th);
                    });

                    data.records.forEach(record => {
                        const row = tbody.insertRow();
                        columns.forEach(column => {
                            const cell = row.insertCell();
                            cell.textContent = record[column];
                        });
                    });

                    scrollableContainer.appendChild(table);
                    resultDiv.appendChild(scrollableContainer);      

                    resultDiv.innerHTML += '<p>' + data.stats + '</p>';
                    index++;
                };

                socket.onclose = function(e) {
                    console.error('WebSocket closed unexpectedly');
                };
            });
        });
    </script>
</body>
</html>
